* {
	padding:0;
margin:0;
box-sizing:border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size:15px;
	
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 

}
.container {
	width:75%;
	margin: 0 auto;
}
.col{
	margin-top:10rem;
}
a {
    margin-left: 10px;
}

#help{
	position:relative;
	
}
.tool-tip {
        color: #fff;
    display: flex;
    position: relative;
    background-color: #3d3d3d;
    top: 11px;
    width: 30%;
    left: 20px;
    flex-wrap: wrap;
    padding: 15px;
	
}
.fa-info{
	cursor:pointer;
}
a.ln-more {
    margin-top: 35px;
	cursor:pointer;
}
a.manage {
    border-radius: 5px;
    padding: 7px;
    background-color: #0062ff;
    margin-top: 30px;
    margin-left: 70px;
	cursor:pointer;
}
.tool-tip::before{
	border-top: 11px solid #3d3d3d;
    left: 115px;
    position: absolute;
    content: "";
    /* background-color: yellow; */
    width: 10px;
    height: 10px;
    border-left: 11px solid #3d3d3d;
    /* border-bottom: 3px solid black; */
    transform: rotate(45deg);
    top: -8px;
    /* border-right: 3px solid black
}